/* *************************************** */
/* header */
/* *************************************** */

.logo {
  height: 2.2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  /* becausenwe want it to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

/* *************************************** */
/* navigation */
/* *************************************** */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  background-color: #e67e22;
  color: #fff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* *************************************** */
/* HERO section */
/* *************************************** */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0;
}
.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.delivered-meal {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-faces {
  display: flex;
}
.delivered-faces img {
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-faces img:last-child {
  margin: 0;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* *************************************** */
/* FEATURED IN SECTION */
/* *************************************** */

.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3rem;
  filter: brightness(0) opacity(50%);
}

.heading-feature-in {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 2.4px;
  text-align: center;
  color: #888;
}

/* *************************************** */
/* how  it works section */
/* *************************************** */
/* 
.section-how {
  padding: 9.6rem 0;
} */

.step-img {
  width: 35%;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  padding-bottom: 60%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/*********************************** */
/* MEALS section */
/* *************************************** */
* **** .section-meal {
  padding: 0 0;
}
.meal-img {
  width: 100%;
}
.meal {
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.35);
  border-radius: 1.1rem;
  overflow: hidden;
  margin-top: -3.2rem;
  transition: all 0.5s;
}

.meal:hover {
  transform: translatey(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 1.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegan {
  background-color: #51cf66;
  margin-right: 0.5rem;
}
.tag--paleo {
  background-color: #f59f00;
}
.tag---vegetarian {
  background-color: #40c057;
}

.meal-tag {
  display: inline-block;
}

.meal-title {
  font-size: 3rem;
  color: #333;
  font-weight: 800;
  margin-bottom: 2.4rem;
}
.meal-attributes {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-items {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 24px;
  height: 24px;
  color: #e67e22;
}

.all-recipie {
  text-align: center;
  font-size: 1.8rem;
  margin-top: -6.4rem !important;
}

/* *************************************** */
/* TESTIMONILS section */
/* *************************************** */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonial-container {
  padding: 9.8rem;
}

.testimonial-image {
  width: 6.4rem;
  border-radius: 50%;
}

.testimonials {
  margin-top: 9px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #555;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.testimonial-name {
  color: #6f6f6f;
  font-size: 1.6rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

figure {
  overflow: hidden;
}

.gallery-img {
  display: block;
  width: 100%;
  transform: all 0.9s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/* *************************************** */
/* PRICING section */
/* *************************************** */

.section-pricing {
  padding: 0 0;
}
.pricing-plan {
  border-radius: 1.1rem;
  width: 75%;
}

.pricing-plan-complete {
  padding: 0 4.7rem 4.7rem 4.7rem;
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}
.pricing-plan-complete::before {
  content: "Best value";
  position: absolute;
  top: 5%;
  right: -18%;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #ffd43b;
  text-transform: uppercase;
  padding: 0.8rem 8rem;
  color: #333;
  transform: rotate(45deg);
}

.pricing-plan--starter {
  padding: 4.6rem;
  justify-self: end;
  border: 2px solid #f0b27a;
}
.pricing-grid {
  display: grid;
  margin-top: -8.6rem !important;
  grid-template-columns: repeat(2, 1fr);
}
.plan-header {
  margin-top: -9.6rem;
  text-align: center;
  margin: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  line-height: 1.8;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rme;
}
.plan-price {
  font-size: 6.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #6f6f6f;
}
.plan-signup {
  text-align: center;
  margin-top: 2.4rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 1.6em;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* *************************************** */
/* CTA section */
/* *************************************** */

.section-cta {
  padding: 0 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.15);
  border-radius: 1.1rem;
  background-image: linear-gradient(#eb984e, #e67e22);
  overflow: hidden;
}
.cta-img-box {
  background-image: linear-gradient(
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 2.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  /* margin-bottom: 1rem; */
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  color: inherit;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 0.9rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form select {
}

.cta-form button {
  /* padding: 0.8rem 9.8rem; */
  width: 100%;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  margin-top: 2.4rem;
  padding: 1.2rem !important;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(253, 242, 233, 0.5);
}

/* *************************************** */
/* FOOTER section */
/* *************************************** */
.footer {
  padding: 2.4rem 0;
  border-top: 1px solid #eee;
}
.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  align-items: start;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: 5rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.4;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
